.bg {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../../assets/images/bg.webp");
}
.overlay {
    height: inherit;
    background-color: rgba(0,0,0, .5);
}
.navbar {
    background-color: transparent !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.W\(150px\) {
    width: 150px;
}
