<div class="row justify-content-center">
    <div class="col-5 mt-4">
        <div class="card no-bg">
            <img src="../../../../assets/images/1.jpeg" class="card-img-top" alt="...">
            <div class="tinder-user-details">
                <h5>Kenneth Ekandem, 22</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
