<div class="side-header">

    <div class="container">
        <div class="row p-2 d-flex">
            <div class="col align-self-start">
                <span class="d-flex profile-col">
                    <img height="40" width="40" class="rounded-img" src="../../../../assets/images/kenneth_emoji.jpeg" alt="">
                    <p class="ml-4"><a href="">My Profile</a></p>
                </span>
            </div>
            <div class="col text-white justify-content-end d-flex pt-3">
                <i class="fas fa-briefcase"></i>
            </div>
        </div>
    </div>
</div>
